

.advice-block-one .inner-box{
  position: relative;
  display: block;
  overflow: hidden;
  background: #FFE8E8;
  padding: 44px 20px 278px 20px;
}

.advice-block-one .inner-box .text{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advice-block-one .inner-box h3{
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 24px;
}

.advice-block-one .inner-box a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  z-index: 1;
}

.advice-block-one .inner-box a:hover{
  background: var(--secondary-color);
}

.advice-block-one .inner-box .image{
  position: absolute;
}


/** advice-section **/

.advice-section{
  position: relative;
}

.advice-block-two .inner-box{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background: #F5F5F5;
  padding: 41px 300px 36px 40px;
  margin-bottom: 30px;
  z-index: 1;
}

.advice-block-two .inner-box:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  right: 0px;
  bottom: -65px;
  z-index: -1;
  opacity: 0.4;
  -webkit-animation: zoom-fade 6s infinite linear;
  animation: zoom-fade 6s infinite linear;
}

.advice-block-two .inner-box h6{
  display: block;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #FF0000;
  z-index: 1;
}

.advice-block-two .inner-box h2{
  display: block;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 8px;
  z-index: 1;
}

.advice-block-two .inner-box h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 92px;
  z-index: 1;
}

.advice-block-two .inner-box h4.color-text{
  color: #FF0000;
}

.advice-block-two .inner-box .text{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  padding: 0px 12px;
  margin-bottom: 2px;
  background: #FF0000;
  border-radius: 4px;
  z-index: 1;
}

.advice-block-two .inner-box .btn-box a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: var(--title-color);
  background: #fff;
  padding: 7px 30px;
  border-radius: 40px;
  z-index: 1;
}

.advice-block-two .inner-box .btn-box a:hover{
  color: #fff;
}

.advice-block-two .inner-box .btn-box a:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transform: scale(0,0);
  z-index: -1;
  border-radius: 40px;
  transition: all 500ms ease;
}

.advice-block-two .inner-box .btn-box a:hover:before{
  transform: scale(1,1);
}


/** advice-style-two **/

.advice-style-two{
  position: relative;
}

.advice-style-two .inner-container{
  position: relative;
  display: block;
  padding: 88px 80px 97px 80px;
  border-radius: 5px;
  overflow: hidden;
}

.advice-style-two .inner-container .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.05);
  transition: all 500ms ease;
}

.advice-style-two .inner-container:hover .bg-layer{
  transform: scale(1);
}

.advice-style-two .content-box{
  position: relative;
  max-width: 540px;
  float: left;
}

.advice-style-two .content-box h2{
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 12px;
  color: #fff;
}

.advice-style-two .content-box p{
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 31px;
}

.advice-style-two .content-box .theme-btn{
  background: #fff;
  color: var(--theme-color-3) !important;
}

.advice-style-two .content-box .theme-btn span,
.advice-style-two .content-box .theme-btn:hover{
  background: var(--secondary-color);
}


/** advice-style-three **/

.advice-style-three{
  position: relative;
}

.advice-block-three .inner-box{
  position: relative;
  display: block;
  background: -webkit-linear-gradient(0deg, #C73F2D, #EF946D 50%);
  border-radius: 10px;
  padding: 75px 60px;
  overflow: hidden;
  margin-bottom: 30px;
  z-index: 1;
}

.advice-column:last-child .advice-block-three .inner-box{
  background: -webkit-linear-gradient(0deg, #FF9900, #FFD179 50%);
}

.advice-block-three .inner-box:before{
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.10);
  width: 490px;
  height: 490px;
  border-radius: 50%;
  top: -142px;
  right: -104px;
  z-index: -1;
  -webkit-animation: zoom-fade 6s infinite linear;
  animation: zoom-fade 6s infinite linear;
}

.advice-block-three .inner-box:after{
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.10);
  width: 490px;
  height: 490px;
  border-radius: 50%;
  bottom: -280px;
  right: -37px;
  z-index: -1;
  -webkit-animation: zoom-fade 8s infinite linear;
  animation: zoom-fade 8s infinite linear;
}

.advice-block-three .inner-box .text{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
  z-index: 1;
}

.advice-block-three .inner-box h2{
  display: block;
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 6px;
  text-transform: capitalize;
  z-index: 1;
}

.advice-block-three .inner-box h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 22px;
  z-index: 1;
}

.advice-block-three .inner-box h4 span{
  font-weight: 400;
}

.advice-block-three .inner-box .theme-btn{
  padding: 5.5px 30px;
  background: #fff;
  color: var(--title-color) !important;
  z-index: 1;
}

.advice-block-three .inner-box .theme-btn:hover{
  color: #fff !important;
}


/** kids-advice **/

.kids-advice{
  position: relative;
}

.kids-advice .advice-block{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 40px;
}

.kids-advice .advice-block .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 3500ms ease;
}

.kids-advice .advice-block:hover .bg-layer{
  transform: scale(1.1);
}

.kids-advice .advice-block .text{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 2px 12px;
  margin-bottom: 7px;
}

.kids-advice .advice-block h2{
  display: block;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 7px;
}

.kids-advice .advice-block h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 88px;
}

.kids-advice .advice-block h4 span{
  color: #FF0000;
}

.kids-advice .advice-block .theme-btn{
  background: #fff;
  color: var(--title-color) !important;
  padding: 5.5px 30px;
}

.kids-advice .advice-block .theme-btn:hover{
  color: #fff !important;
}


/** garden-advice **/

.garden-advice{
  position: relative;
}

.garden-advice .advice-block .inner-box{
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 10px;
  padding: 60px;
  margin-bottom: 30px;
}

.garden-advice .advice-block .inner-box .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.garden-advice .advice-block .inner-box .text{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.garden-advice .advice-block .inner-box h2{
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 13px;
}

.garden-advice .advice-block .inner-box h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  margin-bottom: 125px;
}

.garden-advice .advice-block .inner-box h3 span{
  font-weight: 400;
}

.garden-advice .advice-block .inner-box .theme-btn{
  background: #fff;
  color: var(--title-color) !important;
}

.garden-advice .advice-block .inner-box .theme-btn:hover{
  color: #fff !important;
}


/** watch-advice **/

.watch-advice{
  position: relative;
}

.watch-advice .advice-block{
  position: relative;
  display: block;
  overflow: hidden;
  padding: 50px 40px;
  margin-bottom: 30px;
}

.watch-advice .advice-block .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 500ms ease;
}

.watch-advice .advice-block:hover .bg-layer{
  transform: scale(1.1);
}

.watch-advice .advice-block .text{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  font-family: var(--title-font-three);
  font-weight: 500;
  text-transform: uppercase;
  padding: 3px 12px 2px 12px;
  margin-bottom: 20px;
}

.watch-advice .advice-block h2{
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 12px;
}

.watch-advice .advice-block h3{
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 82px;
}

.watch-advice .advice-block .theme-btn{
  background: transparent;
  border: solid;
  border-width: 1px;
  border-color: #fff;
  padding: 4.5px 38px;
}

.watch-advice .advice-block .theme-btn span{
  background: #fff;
}

.home_9 .watch-advice .advice-block .theme-btn:hover{
  color: var(--theme-color-9) !important;
}




/** rtl-css **/



/** responsive-css **/

@media only screen and (max-width: 1200px){
  
}

@media only screen and (max-width: 991px){
  
}

@media only screen and (max-width: 767px){
  .advice-style-two .content-box h2{
    font-size: 30px;
    line-height: 40px;
  }

  .advice-style-two .inner-container{
    padding: 70px 30px;
  }

  .advice-block-three .inner-box,
  .garden-advice .advice-block .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .garden-advice .advice-block .inner-box h3{
    margin-bottom: 50px;
  }

  .watch-advice .advice-block{
    padding: 50px 30px;
  }

  .watch-advice .advice-block h2,
  .garden-advice .advice-block .inner-box h2{
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 599px){
  .advice-block-two .inner-box{
    padding-right: 30px;
    padding-left: 30px;
  }

  .advice-block-two .inner-box .image{
    width: 50%;
  }

  .advice-block-two .inner-box h2{
    font-size: 30px;
    line-height: 40px;
  }

  .kids-advice .advice-block{
    padding-left: 30px;
    padding-right: 30px;
  }

  .kids-advice .advice-block h4{
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 499px){


}











































