
/** banner-section **/

.banner-section{
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.banner-section .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}
  
.banner-carousel .slide-item{
  position: relative;
  padding: 110px 0px;
}

.banner-carousel .slide-item .image-layer{
  position: absolute;
  opacity: 0;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-carousel .active .slide-item .image-layer{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.banner-carousel .slide-item .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
.banner-carousel .content-box{
  max-width: 630px;
}
  
.banner-carousel .slide-item .bg-layer{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -webkit-transition: all 8000ms linear;
  -moz-transition: all 8000ms linear;
  -ms-transition: all 8000ms linear;
  -o-transition: all 8000ms linear;
  transition: all 8000ms linear;
}
  
.banner-carousel .active .slide-item .bg-layer{
  -webkit-transform:scale(1.25);
  -ms-transform:scale(1.25);
  transform:scale(1.25);
}
  
.banner-carousel .content-box .upper-text{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 2px 13px;
  background: #E53E3E;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box .upper-text{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
  
.banner-carousel .content-box h2{
  font-size: 56px;
  line-height: 60px;
  font-weight: 800;
  color: #00286F;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-carousel .content-box h2 span{
  display: block;
  font-weight: 400;
  color: #111;
}
  
.banner-carousel .active .content-box h2{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}

.banner-carousel .content-box h3{
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.banner-carousel .content-box h3 span{
  font-weight: 700;
  color: #E53E3E;
}
  
.banner-carousel .active .content-box h3{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
  
.banner-carousel .content-box p{
  font-size: 18px;
  line-height: 30px;
  color: var(--title-color);
  margin-bottom: 35px;
  max-width: 480px;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box p{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1200ms;
  -moz-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  transition-delay: 1200ms;
}
  
.banner-carousel .content-box .btn-box{
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
  
.banner-carousel .active .content-box .btn-box{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1400ms;
  -moz-transition-delay: 1400ms;
  -ms-transition-delay: 1400ms;
  -o-transition-delay: 1400ms;
  transition-delay: 1400ms;
}


.banner-carousel .owl-dots{
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.banner-carousel.dots-style-one .owl-dots button{
  display: block;
  margin-bottom: 12px;
}

.banner-carousel .dots-style-one .owl-dots button:last-child{
  margin-bottom: 0px;
}


/** banner-style-two **/

.banner-style-two{
  position: relative;
}

.banner-style-two .content-box{
  padding-left: 120px;
  max-width: 750px;
}

.banner-style-two .banner-carousel .slide-item{
  border-radius: 20px;
  overflow: hidden;
}

.banner-style-two .banner-carousel .content-box h2,
.banner-style-two .banner-carousel .content-box h2 span,
.banner-style-two .banner-carousel .content-box h3{
  color: #fff;
}

.banner-style-two .banner-carousel .content-box h3 span{

}

.banner-style-two .dots-style-one .owl-dots button{
  background: #fff;
}

.banner-style-two .dots-style-one .owl-dots button:before{
  border-color: #fff !important;
}


/** banner-style-three **/

.banner-style-three{
  position: relative;
  padding: 170px 0px 200px 0px;
  background: #F4F4F4;
  overflow: hidden;
}

.banner-style-three .content-box{
  position: relative;
  display: block;
}

.banner-style-three .content-box h2{
  font-size: 64px;
  line-height: 70px;
  margin-bottom: 27px;
}

.banner-style-three .content-box h2 span{
  display: block;
  font-weight: 400;
  color: var(--title-color);
}

.banner-style-three .content-box h3{
  display: block;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 35px;
}

.banner-style-three .content-box h3 span{
  font-weight: 400;
  color: var(--title-color);
}

.banner-style-three .image-layer .image-1{
  position: absolute;
  left: 0px;
  top: 0px;
}

.banner-style-three .image-layer .image-2{
  position: absolute;
  right: 0px;
  top: 22px;
}


/** banner-style-four **/

.banner-style-four{
  position: relative;
}

.banner-style-four .content-one{
  padding: 150px 80px;
}

.banner-style-four .content-box{
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.banner-style-four .content-one .image-box{
  position: absolute;
  right: 36px;
  bottom: 48px;
}

.banner-style-four .content-one .image-box img{
  transition: all 5000ms ease;
}

.banner-style-four .content-one:hover .image-box img{
  transform: scale(0.8);
}

.banner-style-four .content-box .text{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border-radius: 40px;
  background: #E53E3E;
  padding: 2px 12px;
  margin-bottom: 15px;
}

.banner-style-four .content-one h2{
  display: block;
  font-size: 56px;
  line-height: 60px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 23px;
}

.banner-style-four .content-one h2 span{
  display: block;
  font-weight: 400;
}

.banner-style-four .content-one h3{
  position: relative;
  display: block;
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 35px;
  color: #fff;
}

.banner-style-four .content-one h3 span{
  font-weight: 400;
}

.banner-style-four .content-one .theme-btn{
  background: #fff;
  color: var(--title-color) !important;
}

.banner-style-four .content-one .theme-btn:hover{
  color: #fff !important;
}

.banner-style-four .content-box .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2500ms ease;
}

.banner-style-four .content-box:hover .bg-layer{
  transform: scale(1.2);
}

.banner-style-four .content-two{
  padding: 40px;
}

.banner-style-four .content-two .text{
  margin-bottom: 10px;
  background: #27D82E;
}

.banner-style-four .content-two h2{
  display: block;
  font-size: 36px;
  line-height: 45px;
  color: #fff;
  margin-bottom: 6px;
}

.banner-style-four .content-two h3{
  display: block;
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 59px;
}

.banner-style-four .content-two h3 span{
  width: 400;
}

.banner-style-four .content-two .link-box a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 10px;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
}

.banner-style-four .content-two .link-box a:hover{

}

.banner-style-four .content-two:last-child .text{
  background: #FF6B00;
}

.banner-style-four .content-two:last-child h2,
.banner-style-four .content-two:last-child h3,
.banner-style-four .content-two:last-child .link-box a{
  color: var(--title-color);
}


/** banner-style-five **/

.banner-style-five{
  position: relative;
}

.banner-style-five .banner-carousel .slide-item{
  padding: 125px 0px;
}

.banner-style-five .content-inner{
  max-width: 670px;
}

.banner-carousel .content-inner{
  position: relative;
  display: block;
  border: 1px solid #fff;
  opacity: 0;
  background: rgba(255, 255, 255, 0.40);
  padding: 50px;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-carousel .active .content-inner{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.banner-style-five .banner-carousel .content-inner .upper-text{
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 2px 13px;
  background: #E53E3E;
}
  
.banner-style-five .banner-carousel .content-inner h2{
  font-size: 56px;
  line-height: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner-style-five .banner-carousel .content-inner h2 span{
  display: block;
  font-weight: 400;
}

.banner-style-five .banner-carousel .content-inner h3{
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 30px;
  color: #E53E3E;
}

.banner-style-five .banner-carousel .content-inner h3 span{
  font-weight: 400;
  color: var(--title-color);
}

.banner-style-five .dots-style-one .owl-dots button{
  background: #fff;
}

.banner-style-five .dots-style-one .owl-dots button:hover,
.banner-style-five .dots-style-one .owl-dots button.active{

}


/** banner-style-six **/

.banner-style-six{
  position: relative;
}

.banner-style-six .slide-item{
  padding: 150px 120px;
  overflow: hidden;
  border-radius: 16px;
}

.banner-style-six .banner-carousel .content-box h2{
  color: var(--title-color);
}

.banner-style-six .banner-carousel .content-box .upper-text{
  border-radius: 3px;
}

.banner-style-six .banner-carousel .content-box h3{
  font-weight: 700;
  color: #E53E3E;
}

.banner-style-six .banner-carousel .content-box h3 span{
  color: var(--title-color);
  font-weight: 400;
}

.banner-style-six .banner-carousel .content-box .theme-btn{
  background: #fff;
  color: var(--title-color) !important;
}

.banner-style-six .banner-carousel .content-box .theme-btn:hover{
  color: #fff !important;
}

.banner-style-six .dots-style-one .owl-dots button{
  background: #fff;
}

.banner-style-six .dots-style-one .owl-dots button:before{
  border-color: #fff !important;
}


/** banner-style-seven **/

.banner-style-seven{
  position: relative;
  padding: 95px 0px 140px 0px;
}

.banner-style-seven .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.banner-style-seven .content-one h2{
  font-size: 48px;
  line-height: 52px;
  color: var(--title-color);
  max-width: 430px;
}

.banner-style-seven .content-one h3{
  font-size: 32px;
  font-weight: 600;
  color: #E92530;
}

.banner-style-seven .content-one h3 span{
  font-weight: 400;
  color: var(--title-color);
}

.banner-style-seven .content-one .theme-btn{
  color: #fff !important;
}

.banner-style-seven .content-one{
  padding: 118px 60px;
  background: transparent;
}

.banner-style-seven .content-two h3{
  margin-bottom: 19px;
  color: #E92530;
  font-weight: 700;
}

.banner-style-seven .content-two h2{
  color: var(--title-color);
}

.banner-style-seven .content-two h3 span{
  font-weight: 400;
  color: var(--title-color);
}

.banner-style-seven .content-two .link-box a{
  color: var(--title-color);
}

.banner-style-seven .parallax-layer{
  position: absolute;
  left: 0px;
  top: -200px !important;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}


/** banner-style-eight **/

.banner-style-eight{
  position: relative;
  overflow: hidden;
}

.banner-style-eight .slide-item{
  padding: 130px 0px 170px 0px;
}

.banner-style-eight .slide-item .bg-image{
  position: absolute;
  top: 0px;
  right: 0px;
  width: calc(50% + 120px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: left center;
}

.banner-style-eight .content-box h2,
.banner-style-eight .content-box h2 span,
.banner-style-eight .content-box h3{
  color: #fff;
}

.banner-style-eight .content-box .btn-box .theme-btn{
  background: #F4C850;
  color: var(--title-color) !important;
}

.banner-style-eight .content-box .btn-box .theme-btn:hover{
  color: #fff !important;
}

.banner-style-eight .banner-carousel .owl-dots{
  right: 265px;
}

.banner-style-eight .dots-style-one .owl-dots button{
  background: #fff;
}

.banner-style-eight .dots-style-one .owl-dots button:before{
  border-color: #fff !important;
}


/** banner-style-nine **/

.banner-style-nine{
  position: relative;
}

.banner-style-nine .slide-item{
  padding: 205px 0px 235px 0px;
}

.banner-style-nine .content-box{
  margin: 0 auto;
}

.banner-style-nine .content-box .upper-text{
  background: transparent;
  padding: 0px;
  border-radius: 0px;
}

.banner-style-nine .content-box h2{
  color: #fff;
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
}

.banner-style-nine .content-box h2 span{
  color: #fff;
}

.banner-style-nine .content-box h3{
  color: #fff;
  font-family: var(--title-font-three) !important;
}

.banner-style-nine .content-box .btn-box .theme-btn{
  color: var(--title-color) !important;
}

.banner-style-nine .content-box .btn-box .theme-btn span{
  background: #fff;
}


/** banner-style-ten **/

.banner-style-ten{
  position: relative;
}

.banner-style-ten .slide-item{
  border-radius: 10px;
  padding: 110px 30px 200px 120px;
  overflow: hidden;
}

.banner-style-ten .banner-carousel .content-box h2{
  color: var(--title-color);
}

.banner-style-ten .owl-dots{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
}

.banner-style-ten .featured-section{
  padding: 0px;
}

.banner-style-ten .featured-section .inner-container{
  width: calc(100% - 20px);
  left: 10px;
  background: rgba(255, 255, 255, 0.40);
  border: 1px solid #fff;
  margin-top: -94px;
  z-index: 9;
  border-radius: 5px;
  padding: 21px 43px;
  overflow: hidden;
}

.banner-style-ten .featured-section .single-featured .image-box{
  border: none;
  background: rgba(255, 255, 255, 0.40);
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.banner-style-ten .featured-section .single-featured .image-box img{
  display: inline-block;
}

.banner-style-ten .featured-section .featured-list{
  position: relative;
  display: flex;
  align-items: center;
  width: max-content;
  -moz-animation: scroll-left 190s linear infinite;
  -webkit-animation: scroll-left 190s linear infinite;
  animation: scroll-left 190s linear infinite;
}

.banner-style-ten .featured-section .featured-list .single-featured{
  margin-right: 35px;
}

.banner-style-ten .featured-section .featured-list .single-featured:last-child{
  margin-right: 0px;
}

@-moz-keyframes scroll-left {
  0% { -moz-transform: translateX(0%); }
  100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}


/** rtl-css **/

.rtl .banner-carousel .content-box{
  text-align: right;
}

.rtl .banner-carousel .content-inner{
  text-align: right;
}

.rtl .banner-style-ten .featured-section .inner-container{
  direction: ltr;
  text-align: right;
  left: inherit;
  right: 10px;
}

.rtl .banner-style-ten .featured-section .featured-list .single-featured{
  text-align: right;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){
  .banner-style-three .image-layer{
    display: none;
  }
}

@media only screen and (max-width: 991px){
  .banner-carousel .slide-item .image-layer{
    display: none;
  }

  .banner-style-eight .slide-item .bg-image,
  .banner-style-eight .banner-carousel .owl-dots{
    display: none;
  }
}

@media only screen and (max-width: 767px){
  .banner-carousel .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-carousel .owl-dots{
    display: none;
  }

  .banner-carousel .slide-item{
    padding: 100px 0px;
  }

  .banner-style-two .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .banner-style-three .content-box h2{
    font-size: 50px;
    line-height: 60px;
  }

  .banner-style-three{
    padding: 90px 0px 100px 0px;
  }

  .banner-style-four .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .banner-style-four .content-one h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-style-four .content-one h2 span{
    display: inline-block;
  }

  .banner-style-four .content-one{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .banner-carousel .content-inner{
    padding-left: 30px;
    padding-right: 30px;
  }

  .banner-style-five .banner-carousel .content-inner h2{
    font-size: 40px;
    line-height: 50px;
  }

  .banner-style-five .banner-carousel .slide-item{
    padding: 100px 0px;
  }

  .banner-style-six .slide-item{
    padding: 100px 30px;
  }

  .banner-style-eight .slide-item{
    padding: 100px 0px;
  }

  .banner-style-ten .slide-item{
    padding: 100px 30px 192px 30px;
  }
}

@media only screen and (max-width: 599px){
  
}

@media only screen and (max-width: 499px){

}











































