
/** highlights-section **/

.highlights-section{
  position: relative;
}

.highlights-section .bg-color{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background: #0E0E0E;
}

.highlights-section .inner-container{
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 35px 50px;
  padding-bottom: 5px;
}

.highlights-section .highlights-block-one{
  float: left;
  width: 20%;
}

.highlights-section .shape{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.05;
}

.highlights-block-one .inner-box{
  position: relative;
  display: block;
  padding: 6px 0px 6px 76px;
  margin-bottom: 30px;
}

.highlights-block-one .inner-box .icon-box{
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  z-index: 1;
}

.highlights-block-one .inner-box .icon-box:before{
  position: absolute;
  content: '';
  background: var(--secondary-color);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  transform: scale(0,0);
  z-index: -1;
  transition: all 500ms ease;
}

.highlights-block-one .inner-box:hover .icon-box:before{
  transform: scale(1,1);
}

.highlights-block-one .inner-box h5{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  max-width: 160px;
}

.home_3 .highlights-block-one .inner-box .icon-box{
  background: rgba(0, 0, 0, 0.10);
  color: #fff;
}

.highlights-section.alternat-2 .highlights-block-one{
  float: none;
  width: 100%;
}

.home_4 .highlights-section .inner-container{
  background: #DAF1CF;
}

.home_4 .highlights-block-one .inner-box h5{
  color: var(--title-color);
}

.home_6 .highlights-block-one .inner-box .icon-box{
  color: #fff;
  background: rgba(0, 0, 0, 0.10);
}

.home_8 .highlights-block-one .inner-box .icon-box{
  background: #F4C850;
  transition: all 500ms ease;
}

.home_8 .highlights-block-one .inner-box:hover .icon-box{
  color: #fff;
}

.home_8 .highlights-section .shape{
  opacity: 1;
}

.highlights-section.watch-highlights .inner-container{
  border-bottom: 1px solid #E5E5E5;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.highlights-section.watch-highlights .highlights-block-one{
  float: none;
  width: 100%;
}

.highlights-section.watch-highlights .highlights-block-one .inner-box{
  margin-bottom: 20px;
}

.highlights-section.watch-highlights .highlights-block-one .inner-box h5{
  color: var(--title-color);
  font-family: var(--title-font-three) !important;
  font-weight: 500;
}

.highlights-section.watch-highlights .highlights-block-one .inner-box .icon-box{
  background: #F5F5F5;
  transition: all 500ms ease;
}

.highlights-section.watch-highlights .highlights-block-one .inner-box:hover .icon-box{
  color: #fff;
}

.highlights-section.pet-highlights .inner-container{
  background: #F6F4FB;
  margin-top: 10px;
}

.highlights-section.pet-highlights .highlights-block-one .inner-box h5{
  color: var(--title-color);
}

.inner-highlights .highlights-block-one .inner-box .icon-box{
  background: #003085;
  color: #F5B020;
}


/** rtl-css **/

.rtl .highlights-section .highlights-block-one{
  float: right;
}

.rtl .highlights-block-one .inner-box{
  padding-left: 0px;
  padding-right: 76px;
}

.rtl .highlights-block-one .inner-box .icon-box{
  left: inherit;
  right: 0px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){
  
}

@media only screen and (max-width: 991px){
  .highlights-section .highlights-block-one{
    width: 33.333%;
  }
}

@media only screen and (max-width: 767px){
  .highlights-section .highlights-block-one{
    width: 50%;
  }
}

@media only screen and (max-width: 599px){
  .highlights-section .highlights-block-one{
    width: 100%;
  }

  .highlights-section .inner-container{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 499px){


}











































