
/** testimonial-section **/

.testimonial-section{
  position: relative;
}

.testimonial-section .sec-title{
  margin-bottom: 50px;
}

.testimonial-section .owl-carousel .owl-stage-outer{
  overflow: visible;
}

.testimonial-section .owl-carousel .owl-stage-outer .owl-item{
  opacity: 0;
}

.testimonial-section .owl-carousel .owl-stage-outer .owl-item.active{
  opacity: 1;
}

.testimonial-block-one{
  margin-top: 40px;
}

.testimonial-block-one .inner-box{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.07);
  padding: 0px 40px 45px 40px;
  margin-bottom: 30px;
}

.testimonial-block-one .inner-box .thumb-box{
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: -40px;
  margin-bottom: 11px;
}

.testimonial-block-one .inner-box .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-block-one .inner-box h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2px;
}

.testimonial-block-one .inner-box .designation{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: #6A6A6A;
  margin-bottom: 20px;
}

.testimonial-block-one .inner-box .rating{
  justify-content: center;
}

.testimonial-block-one .inner-box .rating li{
  font-size: 16px;
  margin-right: 5px;
}

.testimonial-block-one .inner-box .rating li:last-child{
  margin-bottom: 0px;
}

.testimonial-block-one .inner-box .rating li.light{
  color: rgba(0, 0, 0, 0.15);
}

.testimonial-block-one .inner-box p{
  font-size: 18px;
  line-height: 28px;
}

.testimonial-section .owl-dots{
  position: relative;
  display: block;
  text-align: center;
  margin-top: 8px;
}

.testimonial-section .owl-dots button span{
  display: none !important;
}

.testimonial-section .owl-dots button{
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: var(--secondary-color);
  cursor: pointer;
  margin: 0px 5px;
  transition: all 500ms ease;
}

.testimonial-section .owl-dots button.active,
.testimonial-section .owl-dots button:hover{

}

.testimonial-section .owl-dots button:before{
  position: absolute;
  content: '';
  border: solid;
  border-width: 1px;
  border-color: var(--secondary-color);
  width: 18px;
  height: 18px;
  left: -5px;
  top: -5px;
  border-radius: 50%;
  transform: scale(0,0);
  transition: all 500ms ease;
}

.testimonial-section .owl-dots button.active:before,
.testimonial-section .owl-dots button:hover:before{
  transform: scale(1,1);
}


/** testimonial-style-two **/

.testimonial-style-two{
  position: relative;
}

.testimonial-style-two .owl-carousel .owl-stage-outer{
  overflow: visible;
}

.testimonial-style-two .owl-carousel .owl-stage-outer .owl-item{
  opacity: 0;
  visibility: hidden;
}

.testimonial-style-two .owl-carousel .owl-stage-outer .owl-item.active{
  opacity: 1;
  visibility: visible;
}

.testimonial-block-two .inner-box{
  position: relative;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.07);
  padding: 50px 45px;
}

.testimonial-block-two .inner-box .rating .light{
  color: #C8C8D6;
}

.testimonial-block-two .inner-box .rating{
  margin-bottom: 29px;
}

.testimonial-block-two .inner-box p{
  font-size: 18px;
  line-height: 28px;
  color: #6A6A6A;
  margin-bottom: 25px;
}

.testimonial-block-two .inner-box .author-box{
  position: relative;
  padding: 7px 0px 7px 76px;
}

.testimonial-block-two .inner-box .thumb-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.testimonial-block-two .inner-box .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-block-two .inner-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 2px;
}

.testimonial-block-two .inner-box .designation{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 22px;
}

.testimonial-block-two .inner-box .icon-box{
  position: absolute;
  right: 50px;
  bottom: 55px;
  font-size: 50px;
  opacity: 0.1;
}

.testimonial-style-two .owl-nav{
  position: absolute;
  top: -85px;
  right: 0px;
}


/** rtl-css **/

.rtl .testimonial-style-two .owl-nav{
  right: inherit;
  left: 0px;
}

.rtl .testimonial-block-two .inner-box{
  text-align: right;
}

.rtl .testimonial-block-two .inner-box .author-box{
  padding-left: 0px;
  padding-right: 76px;
}

.rtl .testimonial-block-two .inner-box .thumb-box{
  left: inherit;
  right: 0px;
}

.rtl .testimonial-block-two .inner-box .icon-box{
  right: inherit;
  left: 50px;
}

.rtl .testimonial-block-two .inner-box .rating{
  justify-content: right;
}

.testimonial-block-two .inner-box .icon-box{
  color: #F06223;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){
  
}

@media only screen and (max-width: 991px){
  
}

@media only screen and (max-width: 767px){
  .testimonial-section .owl-dots{
    display: none;
  }

  .testimonial-block-one .inner-box,
  .testimonial-block-two .inner-box{
    padding-left: 30px;
    padding-right: 30px;
  }

  .testimonial-style-two .owl-nav{
    display: none;
  }

  .testimonial-block-two .inner-box .icon-box{
    right: 30px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){


}











































