


/*********************************** color ******************************************/

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover,
.main-menu .navigation > li > ul > li > ul > li > a:hover,
.scroll-to-top .scroll-bar-text,
.main-header .outer-box .category-box .list-inner .inner-box .single-column ul li a:hover,
.main-header .menu-right-content .info-list li a:hover,
.cart-menu .cart-products .product h5 a:hover,
.featured-section .owl-nav button:hover,
.category-block-one .inner-box .lower-content h4 a:hover,
.shop-block-one .inner-box .link-box a:hover,
.shop-block-two .inner-box .lower-content h4 a:hover,
.shop-block-three .inner-box .link-box a:hover,
.shop-block-four .inner-box h4 a:hover,
.shop-tab-btn li.active-btn,
.shop-tab-btn li:hover,
.shop-block-five .inner-box .content-box h6 a:hover,
.shop-block-five .inner-box .content-box .cart-btn button:hover,
.news-block-one .inner-box .lower-content .post-info li a:hover,
.news-block-one .inner-box .lower-content .post-info li.category a,
.news-block-one .inner-box .lower-content h3 a:hover,
.page-title .bread-crumb li a:hover,
.shop-sidebar .category-widget .accordion .acc-btn.active .icon-box:before,
.shop-block-seven .inner-box .content-box h4 a,
.shop-sidebar .category-list li .check-box input:checked + label span,
.product-details-content .other-option li span,
.cart-section .cart-table tbody .product-column .product-box h6 a:hover,
.account-section .inner-container .tab-btns li.active-btn,
.compare-section .content-block .search-box .form-group input:focus + button,
.compare-section .content-block .search-box .form-group button:hover,
.sign-section .form-inner .lower-text p a,
.sign-section .form-inner .other-option .forgot-password:hover,
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:hover, 
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:active, 
.shop-details .product-discription .review-content .single-review .upper-box .option-btn li button:focus,
.blog-sidebar .check-box input:checked + label,
.blog-sidebar .post-widget .post h5 a:hover,
.blog-sidebar .advice-widget a:hover,
.blog-sidebar .archives-widget .archives-list li a:hover,
.sidebar-page-container .news-block-one .inner-box .lower-content h2 a:hover,
.blog-details-content .post-share-option .social-links li a:hover,
.info-block-one .inner-box .icon-box,
.info-block-one .inner-box p a:hover

{
  color: var(--theme-color);
}


/** background **/

button.rtl,
button.ltr,
.main-header .outer-box .category-box .category-list > li > a:after,
.main-header .outer-box .category-box .list-inner .shop-block .link:hover,
.theme-btn,
.theme-btn.btn-two span,
.dots-style-one .owl-dots button.active,
.dots-style-one .owl-dots button:hover,
.shop-block-two .inner-box .image-box .option-list li a:hover,
.shop-block-two .inner-box .image-box .option-list li button:hover,
.nav-style-one .owl-nav button:hover,
.shop-block-five .inner-box .image-box .option-list li a:hover,
.shop-block-five .inner-box .image-box .option-list li button:hover,
.news-block-one .inner-box .lower-content .post-info li.category a:before,
.shop-sidebar .search-widget .form-group button[type='submit'],
.shop-sidebar .check-box input:checked + label:before,
.pagination li a:hover,
.pagination li a.current,
.inner-highlights,
.shop-page-section .item-shorting .left-column .filter-button button,
.product-details-content .content-box .size-list .check-box input:checked + label,
.product-details-content .addto-cart-box ul li a:hover,
.product-details-content .addto-cart-box ul li.like-btn button:hover,
.product-details-content .addto-cart-box ul li.like-btn button:active,
.product-details-content .addto-cart-box ul li.like-btn button:focus,
.cart-section .check-box input:checked + label:after,
.checkout-section .check-box input:checked + label:after,
.account-section .check-box input:checked + label:after,
.image_block_one .image-box .experience-box,
.blog-sidebar .search-widget .search-form .form-group input:focus + button,
.blog-sidebar .search-widget .search-form .form-group button:hover,
.blog-sidebar .check-box input:checked + label:before,
.blog-sidebar .post-widget .post .post-thumb,
.blog-sidebar .tags-widget .tags-list li a:hover,
.sidebar-page-container .news-block-one .inner-box .lower-content .theme-btn span,
.blog-details-content .post-share-option .tags-list li a:hover,
.info-block-one .inner-box .icon-box:before

{
  background: var(--theme-color);
}




/** border-color **/

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu,
.dots-style-one .owl-dots button:before,
.shop-sidebar .search-widget .form-group input[type='search'],
.shop-sidebar .check-box input:checked + label:before,
.shop-sidebar .category-widget .accordion .acc-btn.active:before,
.shop-sidebar .category-widget .accordion .acc-btn.active .icon-box,
.shop-page-section .item-shorting .right-column .menu-box button.on,
.pagination li a:hover,
.pagination li a.current,
.shop-block-seven .inner-box .content-box .theme-btn,
.product-details-content .slider-content .thumb-box li a.active,
.product-details-content .content-box .size-list .check-box input:checked + label,
.product-details-content .addto-cart-box ul li a:hover,
.product-details-content .addto-cart-box ul li.like-btn button:hover,
.product-details-content .addto-cart-box ul li.like-btn button:active,
.product-details-content .addto-cart-box ul li.like-btn button:focus,
.shop-details .product-discription .review-content .form-inner .form-group input:focus,
.shop-details .product-discription .review-content .form-inner .form-group textarea:focus,
.cart-section .check-box input:checked + label:before,
.cart-section .total-cart .shipping-calculator .form-group .theme-btn,
.checkout-section .billing-content .form-inner .form-group input:focus,
.checkout-section .check-box input:checked + label:before,
.compare-section .content-block .search-box .form-group input:focus,
.compare-section .content-block .btn-box .theme-btn,
.sign-section .form-inner .form-group input:focus,
.blog-sidebar .search-widget .search-form .form-group input:focus,
.blog-sidebar .check-box input:checked + label:before,
.sidebar-page-container .news-block-one .inner-box .lower-content .theme-btn,
.blog-details-content .comment-box .form-inner .form-group input:focus,
.blog-details-content .comment-box .form-inner .form-group textarea:focus,
.contact-section .form-inner .form-group input:focus,
.contact-section .form-inner .form-group textarea:focus

{
  border-color: var(--theme-color) !important;
}




/*********************************** color-2 ******************************************/

.header-style-two .header-upper .search-area .search-box .form-group input:focus + button,
.header-style-two .header-upper .search-area .search-box .form-group button:hover,
.header-style-two .header-upper .support-box a,
.header-style-two .header-upper .support-box .icon-box,
.main-header .menu-area .text a,
.banner-style-two .banner-carousel .content-box h3 span,
.home_2 .main-menu .navigation > li.current > a, 
.home_2 .main-menu .navigation > li:hover > a,
.home_2 .main-menu .navigation > li > ul > li > a:hover, 
.home_2 .main-menu .navigation > li > .megamenu li > a:hover,
.home_2 .category-block-one .inner-box .lower-content h4 a:hover,
.home_2 .scroll-to-top::after,
.home_2 .main-header .outer-box .category-box .list-inner .inner-box .single-column ul li a:hover,
.home_2 .deals-block-one .inner-box .content-box h3 a:hover,
.home_2 .deals-block-one .inner-box .content-box .count-col:after,
.home_2 .deals-block-one .inner-box .content-box .count-col span,
.home_2 .featured-style-two .advice-box h3,
.home_2 .featured-style-two .advice-box .link a:hover,
.home_2 .shop-block-two .inner-box .lower-content h4 a:hover,
.home_2 .highlights-block-one .inner-box .icon-box,
.home_2 .main-footer .contact-widget .support-box .icon-box,
.home_2 .main-footer .contact-widget .support-box a,
.home_2 .main-footer .links-list li a:hover,
.home_2 .footer-bottom p a,
.home_2 .main-header .menu-right-content .info-list li a:hover,
.home_2 .category-menu .category-list li > a:hover,
.home_2 .shop-tab-btn li.active-btn, 
.home_2 .shop-tab-btn li:hover

{
  color: var(--theme-color-2);
}


/** background **/

.header-style-two .outer-box .category-box,
.header-style-two.main-header .menu-right-content .info-list li a.shopping-cart span,
.home_2 .theme-btn.btn-one,
.home_2 .shop-block-two .inner-box .image-box .decore,
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down:hover,
.bootstrap-touchspin .btn.bootstrap-touchspin-up:hover,
.home_2 .shop-five .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_2 .shop-five .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_2 .theme-btn,
.home_2 .main-header .outer-box .category-box .list-inner .shop-block .link,
.home_2 .deals-block-one .inner-box .image-box .option-list li a:hover,
.home_2 .deals-block-one .inner-box .image-box .option-list li button:hover,
.home_2 .deals-block-one .inner-box .content-box .count-col:before,
.home_2 .nav-style-one .owl-nav button:hover,
.home_2 .theme-btn.btn-two span,
.home_2 .cta-style-two .content-box .theme-btn:hover,
.home_2 .advice-block-one .inner-box a,
.home_2 .highlights-section .inner-container,
.home_2 .main-footer .contact-widget .social-links li a:hover,
.home_2 .main-footer .subscribe-widget .form-inner .form-group button[type="submit"],
.home_2 .menu-area .mobile-nav-toggler,
.home_2 button.rtl,
.home_2 button.ltr,
.home_2 .main-header .outer-box .category-box .category-list > li > a:after

{
  background: var(--theme-color-2);
}




/** border-color **/

.header-style-two .outer-box .category-box,
.home_2 .main-menu .navigation > li > ul, 
.home_2 .main-menu .navigation > li > .megamenu,
.home_2 .shop-five .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_2 .shop-five .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_2 .deals-block-one .inner-box .content-box .theme-btn,
.home_2 .nav-style-one .owl-nav button:hover,
.home_2 .main-footer .contact-widget .social-links li a:hover,
.home_2 .main-footer .subscribe-widget .form-inner .form-group input[type='email']:focus

{
  border-color: var(--theme-color-2) !important;
}

.home_2 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-2);
}



/*********************************** color-3 ******************************************/

.home_3 .main-menu .navigation > li.current > a, 
.home_3 .main-menu .navigation > li:hover > a,
.home_3 .main-menu .navigation > li > ul > li > a:hover, 
.home_3 .main-menu .navigation > li > .megamenu li > a:hover,
.home_3 .header-style-three .header-top .menu-right-content .info-list li a.shopping-cart span,
.home_3 .main-header .sticky-header .menu-right-content .info-list li a:hover,
.home_3 .main-header .sticky-header .menu-right-content .info-list li button:hover,
.home_3 .category-menu .category-list li > a:hover,
.home_3 .header-bottom .bottom-inner .category-box .text:hover,
.banner-style-three .content-box h2,
.banner-style-three .content-box h3,
.home_3 .scroll-to-top::after,
.home_3 .category-block-two .inner-box h4 a:hover,
.home_3 .shop-block-six .inner-box .lower-content .category,
.home_3 .shop-block-six .inner-box .lower-content h4 a:hover,
.home_3 .shop-block-six .inner-box .lower-content h5,
.home_3 .shop-block-six .inner-box .lower-content .cart-btn button,
.home_3 .shop-tab-btn li.active-btn, 
.home_3 .shop-tab-btn li:hover,
.home_3 .shop-block-five .inner-box .content-box h6 a:hover,
.home_3 .cta-style-three .content-box h2 span,
.home_3 .main-footer .links-list li a:hover,
.home_3 .footer-bottom p a

{
  color: var(--theme-color-3);
}


/** background **/

.home_3 .header-top,
.home_3 .main-header .sticky-header .menu-right-content .info-list li a.shopping-cart span,
.home_3 button.rtl,
.home_3 button.ltr,
.home_3 .theme-btn.btn-one,
.home_3 .advice-block-two .inner-box .btn-box a:before,
.home_3 .shop-block-six .inner-box .image-box .option-list li a:hover,
.home_3 .shop-block-six .inner-box .image-box .option-list li button:hover,
.home_3 .shop-block-six .inner-box .lower-content .cart-btn button:hover,
.home_3 .shop-block-six .inner-box .lower-content .cart-btn button:before,
.home_3 .nav-style-one .owl-nav button:hover,
.home_3 .highlights-section,
.home_3 .advice-style-two .inner-container,
.home_3 .shipping-block-one .inner-box .icon-box,
.home_3 .testimonial-section .owl-dots button.active,
.home_3 .testimonial-section .owl-dots button:hover,
.home_3 .main-footer .subscribe-widget .form-inner .form-group button[type="submit"],
.home_3 .main-footer .contact-widget .social-links li a:hover,
.home_3 .main-header .outer-box .category-box .category-list > li > a:after

{
  background: var(--theme-color-3);
}




/** border-color **/

.home_3 .main-menu .navigation > li > ul, 
.home_3 .main-menu .navigation > li > .megamenu,
.home_3 .category-block-two .inner-box:hover .image-box,
.category-style-two .theme-btn,
.home_3 .shop-block-six .inner-box .lower-content .cart-btn button,
.home_3 .testimonial-section .owl-dots button.active,
.home_3 .testimonial-section .owl-dots button:hover,
.home_3 .testimonial-section .owl-dots button:before,
.home_3 .main-footer .subscribe-widget .form-inner .form-group input[type='email']:focus,
.home_3 .main-footer .contact-widget .social-links li a:hover

{
  border-color: var(--theme-color-3) !important;
}

.home_3 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-3);
}


/*********************************** color-4 ******************************************/

.home_4 .header-top-two .info-list li i,
.home_4 .header-top-two .info-list li a:hover,
.home_4 .header-top-two .text p span,
.home_4 .main-header .menu-area .text a,
.home_4 .main-header .outer-box .category-box .list-inner .inner-box .single-column ul li a:hover,
.home_4 .category-menu .category-list li > a:hover,
.home_4 .main-menu .navigation > li.current > a, 
.home_4 .main-menu .navigation > li:hover > a,
.home_4 .main-menu .navigation > li > ul > li > a:hover, 
.home_4 .main-menu .navigation > li > .megamenu li > a:hover,
.home_4 .main-header .menu-right-content .info-list li a:hover,
.home_4 .scroll-to-top::after,
.home_4 .banner-style-four .content-two .link-box a:hover,
.home_4 .highlights-block-one .inner-box .icon-box,
.home_4 .deals-style-two .shop-block-two .inner-box .lower-content .text,
.home_4 .shop-block-two .inner-box .lower-content h4 a:hover,
.home_4 .shop-two.popular-picks .shop-block-two .inner-box .lower-content .text,
.home_4 .shop-tab-btn li.active-btn, 
.home_4 .shop-tab-btn li:hover,
.home_4 .shop-nine .advice-block h2,
.home_4 .news-block-one .inner-box .lower-content .post-info li.category a,
.home_4 .news-block-one .inner-box .lower-content .post-info li a:hover,
.home_4 .news-block-one .inner-box .lower-content h3 a:hover,
.home_4 .main-footer .links-list li a:hover,
.home_4 .footer-bottom p a

{
  color: var(--theme-color-4);
}


/** background **/

.home_4 .header-upper,
.home_4 .header-style-four .header-upper .search-area .search-box .form-group button[type='submit'],
.home_4 .main-header .outer-box .category-box .category-list > li > a:after,
.home_4 button.rtl,
.home_4 button.ltr,
.home_4 .main-header .outer-box .category-box .list-inner .shop-block .link:hover,
.home_4 .menu-area .mobile-nav-toggler,
.home_4 .main-header .menu-right-content .info-list li a.shopping-cart span,
.banner-style-four .content-one,
.home_4 .deals-style-two .shop-block-two .inner-box .btn-box .theme-btn span,
.home_4 .deals-style-two .shop-block-two .inner-box .btn-box .theme-btn:hover,
.home_4 .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_4 .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_4 .theme-btn.btn-one,
.home_4 .theme-btn.btn-two span,
.home_4 .cta-style-two .inner-container,
.home_4 .nav-style-one .owl-nav button:hover,
.home_4 .news-block-one .inner-box .lower-content .post-info li.category a:before,
.home_4 .main-footer .contact-widget .social-links li a:hover,
.home_4 .main-footer .subscribe-widget .form-inner .form-group button[type="submit"]

{
  background: var(--theme-color-4);
}




/** border-color **/

.home_4 .main-menu .navigation > li > ul, 
.home_4 .main-menu .navigation > li > .megamenu,
.home_4 .deals-style-two .inner-container,
.home_4 .deals-style-two .shop-block-two .inner-box .btn-box .theme-btn,
.home_4 .main-footer .contact-widget .social-links li a:hover,
.home_4 .main-footer .subscribe-widget .form-inner .form-group input[type='email']:focus

{
  border-color: var(--theme-color-4) !important;
}

.home_4 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-4);
}



/*********************************** color-5 ******************************************/

.home_5 .header-style-five .header-top-two .text p span,
.home_5 .header-style-five .header-top-two .info-list li a:hover,
.home_5 .header-style-five .header-top-two .info-list li i,
.home_5 .header-upper .support-box .icon-box,
.home_5 .category-menu .category-list li > a:hover,
.home_5 .main-menu .navigation > li > ul > li > a:hover, 
.home_5 .main-menu .navigation > li > .megamenu li > a:hover,
.header-style-five .menu-right-content .info-list li a:hover,
.home_5 .scroll-to-top::after,
.home_5 .category-block-three .inner-box h3 a:hover,
.home_5 .category-block-four .inner-box h4 a:hover,
.home_5 .shop-tab-btn li.active-btn, 
.home_5 .shop-tab-btn li:hover,
.home_5 .shop-block-two .inner-box .lower-content h4 a:hover,
.shop-two.popular-picks.home-5 .shop-block-two .inner-box .lower-content .text,
.home_5 .shop-11 .left-content .single-item .text-box h6 a:hover,
.home_5 .shop-11 .shop-block-two .inner-box .lower-content .text,
.home_5 .featured-style-five .advice-block .text,
.home_5 .featured-style-five .advice-block h3 a:hover,
.home_5 .featured-style-five .shop-block-two .inner-box .lower-content .text,
.home_5 .shop-block-five .inner-box .content-box h6 a:hover,
.home_5 .shop-block-five .inner-box .content-box .cart-btn button:hover,
.home_5 .news-block-one .inner-box .lower-content .post-info li.category a,
.home_5 .news-block-one .inner-box .lower-content h3 a:hover,
.home_5 .news-block-one .inner-box .lower-content .post-info li a:hover,
.home_5 .instagram-block-one .inner-box .text-box a:hover

{
  color: var(--theme-color-5);
}


/** background **/

.header-style-five .header-upper .search-area .search-box .form-group button[type='submit'],
.header-style-five .header-lower,
.header-style-five .sticky-header,
.home_5 .theme-btn.btn-one,
.banner-style-five .dots-style-one .owl-dots button:hover,
.banner-style-five .dots-style-one .owl-dots button.active,
.home_5 button.rtl,
.home_5 button.ltr,
.home_5 .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_5 .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_5 .featured-block-two .inner-box .theme-btn span,
.home_5 .featured-style-five .advice-block .btn-box a,
.home_5 .featured-style-five .shop-block-two .inner-box .image-box .owl-dots button:hover,
.home_5 .featured-style-five .shop-block-two .inner-box .image-box .owl-dots button.active,
.home_5 .news-block-one .inner-box .lower-content .post-info li.category a:before

{
  background: var(--theme-color-5);
}




/** border-color **/

.home_5 .main-menu .navigation > li > ul, 
.home_5 .main-menu .navigation > li > .megamenu,
.banner-style-five .dots-style-one .owl-dots button:before

{
  border-color: var(--theme-color-5) !important;
}

.home_5 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-5);
}



/*********************************** color-6 ******************************************/

.home_6 .header-top-two .info-list li i,
.home_6 .header-top-two .text p span,
.home_6 .main-header .menu-right-content .info-list li a:hover,
.home_6 .main-menu .navigation > li.current > a, 
.home_6 .main-menu .navigation > li:hover > a,
.home_6 .main-menu .navigation > li > ul > li > a:hover,
.home_6 .scroll-to-top::after,
.home_6 .category-block-one .inner-box .lower-content h4 a:hover,
.home_6 .shop-tab-btn li.active-btn, 
.home_6 .shop-tab-btn li:hover,
.home_6 .shop-four.medical-shop .shop-block-five .inner-box .content-box h5,
.home_6 .shop-block-five .inner-box .content-box h6 a:hover,
.home_6 .shop-block-two .inner-box .lower-content h4 a:hover,
.home_6 .shop-two.medical-shop .shop-block-two .inner-box .lower-content .text,
.home_6 .shop-two.medical-shop .shop-block-two .inner-box .lower-content h5,
.home_6 .cta-style-three .content-box h2 span,
.home_6 .shop-nine.medical-shop .shop-block-two .inner-box .lower-content h5,
.home_6 .shop-nine.medical-shop .shop-block-two .inner-box .lower-content .text,
.home_6 .testimonial-block-two .inner-box .icon-box,
.home_6 .news-block-one .inner-box .lower-content .post-info li.category a,
.home_6 .news-block-one .inner-box .lower-content .post-info li a:hover,
.home_6 .news-block-one .inner-box .lower-content h3 a:hover,
.home_6 .main-footer .links-list li a:hover,
.home_6 .footer-bottom p a

{
  color: var(--theme-color-6);
}


/** background **/

.header-style-six .outer-box .right-column .search-form .form-group button[type='submit'],
.home_6 .main-header .menu-right-content .info-list li a.shopping-cart span,
.home_6 .theme-btn.btn-one,
.home_6 .theme-btn.btn-two span,
.home_6 button.rtl,
.home_6 button.ltr,
.home_6 .menu-area .mobile-nav-toggler,
.home_6 .shop-block-five .inner-box .image-box .option-list li a:hover, 
.home_6 .shop-block-five .inner-box .image-box .option-list li button:hover,
.home_6 .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_6 .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_6 .theme-btn.btn-one,
.home_6 .shop-nine.medical-shop .shop-block-two .inner-box .lower-content .cart-btn .theme-btn,
.home_6 .news-block-one .inner-box .lower-content .post-info li.category a:before,
.home_6 .highlights-section .inner-container,
.home_6 .main-footer .contact-widget .social-links li a:hover,
.home_6 .main-footer .subscribe-widget .form-inner .form-group button[type="submit"]

{
  background: var(--theme-color-6);
}




/** border-color **/

.header-style-six .outer-box .right-column .search-form .form-group input:focus,
.home_6 .main-menu .navigation > li.dropdown:hover > ul,
.home_6 .main-footer .contact-widget .social-links li a:hover,
.home_6 .main-footer .subscribe-widget .form-inner .form-group input[type='email']:focus

{
  border-color: var(--theme-color-6) !important;
}

.home_6 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-6);
}


/*********************************** color-7 ******************************************/

.home_7 .main-menu .navigation > li.current > a, 
.home_7 .main-menu .navigation > li:hover > a,
.home_7 .main-menu .navigation > li > ul > li > a:hover, 
.home_7 .main-menu .navigation > li > .megamenu li > a:hover,
.home_7 .main-header .menu-right-content .info-list li a:hover,
.home_7 .header-style-seven .outer-box .right-column .search-form .form-group button[type='submit']:hover,
.home_7 .scroll-to-top::after,
.home_7 .category-block-five .inner-box h4 a:hover,
.home_7 .shop-block-two .inner-box .lower-content h5,
.home_7 .shop-block-two .inner-box .lower-content h4 a:hover,
.home_7 .shop-tab-btn li.active-btn, 
.home_7 .shop-tab-btn li:hover,
.home_7 .shop-eight.kids-shop .shop-block-five .inner-box .content-box h6 a:hover,
.shop-eight.kids-shop .shop-block-five .inner-box .content-box h5,
.cta-style-three.kids-cta .content-box h2 span,
.home_7 .news-block-one .inner-box .lower-content .category a,
.home_7 .news-block-one .inner-box .lower-content h3 a:hover,
.home_7 .news-block-one .inner-box .lower-content .info-list li a:hover,
.home_7 .main-footer .contact-widget .support-box .icon-box,
.home_7 .main-footer .contact-widget .support-box a,
.home_7 .main-footer .links-list li a:hover,
.home_7 .footer-bottom p a

{
  color: var(--theme-color-7);
}


/** background **/

.header-style-seven .header-top-two,
.home_7 .main-header .menu-right-content .info-list li a.shopping-cart span,
.home_7 .theme-btn.btn-one,
.home_7 .theme-btn.btn-two span,
.home_7 .menu-area .mobile-nav-toggler,
.home_7 .banner-style-seven .content-box .text,
.home_7 .banner-style-four .content-one .theme-btn,
.home_7 .banner-style-four .content-two:last-child .text,
.home_7 button.rtl,
.home_7 button.ltr,
.shop-six.kids-picks .advice-block-one .inner-box a,
.home_7 .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_7 .shop-block-two .inner-box .image-box .option-list li button:hover,
.kids-advice .advice-block .text,
.cta-style-four .content-box .text,
.shop-eight.kids-shop .shop-block-five .inner-box .content-box .btn-box button:hover,
.shop-eight.kids-shop .shop-tab-btn li:before,
.home_7 .news-block-one .inner-box .lower-content .category a:before,
.home_7 .highlights-section,
.home_7 .main-footer .contact-widget .social-links li a:hover,
.home_7 .main-footer .subscribe-widget .form-inner .form-group button[type="submit"]

{
  background: var(--theme-color-7);
}




/** border-color **/

.home_7 .main-menu .navigation > li > ul, 
.home_7 .main-menu .navigation > li > .megamenu,
.header-style-seven .outer-box .right-column .search-form .form-group input[type='search']:focus,
.shop-eight.kids-shop .shop-block-five .inner-box .content-box .btn-box button,
.cta-style-three.kids-cta .inner-container,
.home_7 .main-footer .contact-widget .social-links li a:hover,
.home_7 .main-footer .subscribe-widget .form-inner .form-group input[type='email']:focus

{
  border-color: var(--theme-color-7) !important;
}

.home_7 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-7);
}


/*********************************** color-8 ******************************************/

.home_8 .scroll-to-top::after,
.home_8 .main-header .outer-box .category-box .list-inner .inner-box .single-column ul li a:hover,
.home_8 .main-menu .navigation > li.current > a, 
.home_8 .main-menu .navigation > li:hover > a,
.home_8 .main-menu .navigation > li > ul > li > a:hover, 
.home_8 .main-menu .navigation > li > .megamenu li > a:hover,
.home_8 .category-menu .category-list li > a:hover,
.home_8 .main-header .menu-right-content .info-list li a:hover,
.home_8 .shop-block-one .inner-box .link-box a:hover,
.home_8 .shop-block-two .inner-box .lower-content h4 a:hover,
.home_8 .shop-12 .shop-tab-btn li,
.home_8 .video_block_one .video-content .video-btn a,
.home_8 .news-block-one .inner-box .lower-content .post-info li.category a,
.home_8 .news-block-one .inner-box .lower-content .post-info li a:hover,
.home_8 .news-block-one .inner-box .lower-content h3 a:hover

{
  color: var(--theme-color-8);
}


/** background **/

.header-style-eight .header-top-two,
.home_8 button.rtl,
.home_8 button.ltr,
.header-style-eight .outer-box .category-box,
.home_8 .main-header .outer-box .category-box .category-list > li > a:after,
.home_8 .main-header .outer-box .category-box .list-inner .shop-block .link:hover,
.home_8 .menu-area .mobile-nav-toggler,
.home_8 .main-header .menu-right-content .info-list li a.shopping-cart span,
.home_8 .theme-btn.btn-one,
.home_8 .theme-btn.btn-two span,
.banner-style-eight,
.home_8 .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_8 .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_8 .highlights-section .inner-container,
.home_8 .bootstrap-touchspin .btn.bootstrap-touchspin-up:hover,
.home_8 .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down:hover,
.home_8 .shop-12 .shop-tab-btn li:before,
.home_8 .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_8 .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_8 .news-block-one .inner-box .lower-content .post-info li.category a:before

{
  background: var(--theme-color-8);
}




/** border-color **/

.header-style-eight .header-upper .search-area .search-box .form-group input[type='search']:focus,
.home_8 .main-menu .navigation > li > ul, 
.home_8 .main-menu .navigation > li > .megamenu

{
  border-color: var(--theme-color-8) !important;
}


.home_8 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-8);
}



/*********************************** color-9 ******************************************/

.home_9 .scroll-to-top::after,
.home_9 .main-menu .navigation > li.current > a, 
.home_9 .main-menu .navigation > li:hover > a,
.home_9 .main-menu .navigation > li > ul > li > a:hover, 
.home_9 .main-menu .navigation > li > .megamenu li > a:hover,
.home_9 .banner-style-nine .content-box .upper-text,
.home_9 .watch-advice .advice-block h3,
.home_9 .shop-block-two .inner-box .lower-content h4 a:hover,
.home_9 .main-header .menu-right-content .info-list li a:hover,
.home_9 .video-style-two .content-box .text-box,
.home_9 .video-style-two .video-btn a,
.home_9 .category-block-six .inner-box .text-box a,
.home_9 .cta-style-three.watch-cta a,
.home_9 .news-block-two .inner-box h4 a:hover,
.home_9 .main-footer .contact-widget .support-box .icon-box,
.home_9 .main-footer .contact-widget .support-box a,
.home_9 .main-footer .links-list li a:hover,
.home_9 .footer-bottom p a

{
  color: var(--theme-color-9);
}


/** background **/

.home_9 button.rtl,
.home_9 button.ltr,
.home_9 .menu-area .mobile-nav-toggler,
.home_9 .theme-btn.btn-one,
.home_9 .watch-advice .advice-block .text,
.home_9 .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_9 .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_9 .theme-btn.btn-two span,
.home_9 .shop-block-two .inner-box .image-box .react-btn button:hover,
.home_9 .shop-tab-btn li.active-btn, 
.home_9 .shop-tab-btn li:hover,
.home_9 .shipping-block-one .inner-box .icon-box,
.home_9 .main-footer .contact-widget .social-links li a:hover,
.home_9 .main-footer .subscribe-widget .form-inner .form-group button[type="submit"]

{
  background: var(--theme-color-9);
}




/** border-color **/

.header-style-nine .header-upper .search-area .search-box .form-group input[type='search']:focus,
.home_9 .main-menu .navigation > li > ul, 
.home_9 .main-menu .navigation > li > .megamenu,
.home_9 .main-footer .contact-widget .social-links li a:hover,
.home_9 .main-footer .subscribe-widget .form-inner .form-group input[type='email']:focus

{
  border-color: var(--theme-color-9) !important;
}

.home_9 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-9);
}


/*********************************** color-10 ******************************************/

.home_10 .scroll-to-top::after,
.header-style-ten .header-top-two .info-list li a:hover,
.header-style-ten .header-top-two .info-list li i,
.header-style-ten .header-top-two .text p span,
.home_10 .main-header .outer-box .category-box .list-inner .inner-box .single-column ul li a:hover,
.home_10 .category-menu .category-list li > a:hover,
.home_10 .main-menu .navigation > li.current > a, 
.home_10 .main-menu .navigation > li:hover > a,
.home_10 .main-menu .navigation > li > ul > li > a:hover, 
.home_10 .main-menu .navigation > li > .megamenu li > a:hover,
.home_10 .main-header .menu-right-content .info-list li a:hover,
.home_10 .highlights-block-one .inner-box .icon-box,
.home_10 .category-block-one .inner-box .lower-content h4 a:hover,
.home_10 .shop-block-two .inner-box .lower-content h4 a:hover,
.home_10 .shop-block-one .inner-box .link-box a:hover,
.home_10 .deals-block-one .inner-box .content-box h3 a:hover,
.home_10 .deals-block-one .inner-box .content-box .count-col span,
.home_10 .deals-block-one .inner-box .content-box .count-col:after,
.home_10 .cta-style-four.pet-cta .content-box h2 span,
.home_10 .testimonial-block-two .inner-box .icon-box,
.home_10 .instagram-block-one .inner-box .text-box a:hover,
.home_10 .main-footer .contact-widget .support-box a,
.home_10 .main-footer .contact-widget .support-box .icon-box,
.home_10 .main-footer .links-list li a:hover,
.home_10 .footer-bottom p a

{
  color: var(--theme-color-10);
}


/** background **/

.home_10 button.rtl,
.home_10 button.ltr,
.home_10 .header-upper .search-area .search-box .form-group button[type='submit'],
.home_10 .main-header .outer-box .category-box .category-list > li > a:after,
.home_10 .main-header .outer-box .category-box .list-inner .shop-block .link:hover,
.home_10 .main-header .menu-right-content .info-list li a.shopping-cart span,
.home_10 .theme-btn.btn-one,
.home_10 .theme-btn.btn-two span,
.home_10 .dots-style-one .owl-dots button.active, 
.home_10 .dots-style-one .owl-dots button:hover,
.home_10 .shop-block-two .inner-box .image-box .option-list li a:hover, 
.home_10 .shop-block-two .inner-box .image-box .option-list li button:hover,
.home_10 .shop-block-two .inner-box .lower-content .cart-btn .theme-btn,
.home_10 .deals-block-one .inner-box .image-box .option-list li a:hover, 
.home_10 .deals-block-one .inner-box .image-box .option-list li button:hover,
.home_10 .deals-block-one .inner-box .content-box .count-col:before,
.deals-section.pet-deals .deals-block-one .inner-box .content-box .theme-btn.btn-one span,
.home_10 .main-footer .contact-widget .social-links li a:hover,
.home_10 .main-footer .subscribe-widget .form-inner .form-group button[type="submit"]

{
  background: var(--theme-color-10);
}




/** border-color **/

.home_10 .main-menu .navigation > li > ul, 
.home_10 .main-menu .navigation > li > .megamenu,
.home_10 .dots-style-one .owl-dots button:before,
.deals-section.pet-deals .deals-block-one .inner-box .content-box .theme-btn.btn-one,
.home_10 .main-footer .contact-widget .social-links li a:hover,
.home_10 .main-footer .subscribe-widget .form-inner .form-group input[type='email']:focus

{
  border-color: var(--theme-color-10) !important;
}

.home_10 .scroll-to-top .scroll-top-inner path{
  stroke: var(--theme-color-10);
}

















